* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
    background-color: #1137ca;
}
#page1
{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    height: 10vh;
    width: 100vw;
}
#page1>nav>img{
    margin-top: -1.7vw;
    width: 9%;
}
#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.bottom-page1{
    position: absolute;
    bottom: 5%;
    height: 35vh;
    width: 50vw;
    left: 10%;
}
.bottom-page1>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}
.bottom-page1-inner{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
}
.bottom-page1-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.bottom-page1-inner>button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.bottom-page1-inner>h4{
    font-size: 1.4vw;
    font-weight: 100;
    color: #fff;
}
