* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
  background-color: #1137ca;
}
#page1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#page1 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page1 > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  position: absolute;
  height: 10vh;
  width: 100vw;
}
#page1 > nav > img {
  margin-top: -1.7vw;
  width: 9%;
}
#right-nav > button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #0b48ed;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.bottom-page1 {
  position: absolute;
  bottom: 5%;
  height: 35vh;
  width: 50vw;
  left: 10%;
}
.bottom-page1 > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}
.bottom-page1-inner {
  position: absolute;
  bottom: 0%;
  height: 35%;
  width: 100%;
}
.bottom-page1-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-page1-inner > button:hover {
  cursor: pointer;
  background-color: #0a3cce;
}
.bottom-page1-inner > button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  color: #0b48ed;
  font-size: 16px;
  font-weight: bold;
}
.bottom-page1-inner > h4 {
  font-size: 1.4vw;
  font-weight: 100;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
#page2 {
  display: flex;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0vw 8vw;
  color: #fff;
  background-color: #0a3cce;
}
#page2 > h2 {
  margin-bottom: 3vw;
  font-weight: 100;
}
#page2 > h1 {
  font-weight: 100;
  line-height: 1.3;
  width: 90%;
  font-size: 4vw;
  color: #dadada69;
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page3 > canvas {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page4 {
  display: flex;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0vw 10vw;
  color: #fff;
  background-color: #0a3cce;
}
#page4 > h3 {
  margin-left: 15vw;
  margin-bottom: 2vw;
  font-weight: 100;
}
#page4 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #1137ca;
  font-family: Arial, Helvetica, sans-serif;
}
#page4 > h3 {
  margin-left: 5vw;
  margin-bottom: 2vw;
  font-weight: 100;
  color: #fff;
}
#page4 > h1 {
  line-height: 1.2;
  margin-left: 5vw;
  width: 90%;
  font-size: 3vw;
  font-weight: 100;
  color: #ffffff81;
}
#page5 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page5 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}
#page6 {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
#page6 > h3 {
  margin-left: 15vw;
  font-weight: 100;
  color: #fff;
  margin-bottom: 2vw;
}
#page6 > h1 {
  line-height: 1.4;
  margin-left: 15vw;
  font-size: 3vw;
  width: 70%;
  font-weight: 100;
  color: #ffffff53;
}
#page7 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
#page7 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}
.page7-cir {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  border: 1px solid #fff;
}
.page7-cir-inner {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
}
#page8 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
#page8 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page8-bottom {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.page8-bottom > h1 {
  color: #fff;
  font-weight: 100;
  margin-bottom: 2vw;
  font-size: 5vw;
}
.page8-bottom > button {
  padding: 20px 30px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  color: #0a3cce;
  font-size: 15px;
  font-weight: 600;
}
#page9 {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
.left9 {
  height: 100%;
  width: 40%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.left9 > h1 {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 5vw;
  font-weight: 100;
  color: #fff;
  line-height: 1;
}
.right9 {
  height: 100%;
  width: 60%;
  position: relative;
}
.right9-center {
  height: 50%;
  width: 85%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
  background-size: cover;
  left: 5%;
}
#page10 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
.right10 {
  height: 100%;
  width: 60%;
  position: relative;
  left: 40%;
}
.right10-inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 33.3%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.right10-inner > h1 {
  font-size: 2vw;
}
.right10-inner > p {
  margin-top: 2vw;
  font-size: 1.3vw;
  width: 80%;
  line-height: 1.4;
}

#page11 {
  position: relative;
  height: 110vh;
  width: 100vw;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
#page11 > h1 {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 4vw;
  color: #000;
  font-weight: 100;
}
.page11-inner {
  display: flex;
  top: 18%;
  position: relative;
  margin-bottom: 2vw;
  height: 24%;
  width: 100%;
}
.left11 {
  position: relative;
  height: 100%;
  width: 40%;
  left: 5%;
  border-radius: 10px;
  overflow: hidden;
}
.left11 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.right11 {
  padding-top: 3vw;
  color: #000;
  left: 50%;
  position: absolute;
  height: 100%;
  width: 47%;
}
.right11 > h4 {
  font-weight: 100;
  margin-bottom: 5px;
}
.right11 > h1 {
  font-size: 1.6vw;
  line-height: 1.3;
}

#page12 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #02268e;
}
.page12-inner {
  position: absolute;
  top: 20%;
  right: 10%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.page12-inner > h1 {
  font-size: 5vw;
  font-weight: 100;
}
.page12-inner > p {
  font-size: 1.3vw;
  line-height: 1.3;
}

#page13 {
  position: relative;
  height: 50vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7vw 10vw;
}
#page13 > h1 {
  font-size: 5vw;
  line-height: 1;
  font-weight: 100;
}
#page13 > button {
  padding: 18px 30px;
  border: none;
  background-color: #0a3cce;
  color: #fff;
  border-radius: 50px;
  margin-top: 2vw;
  font-weight: 600;
}
#page13 > button:hover {
  cursor: pointer;
  background-color: white;
  color: blue;
  transition: 1s;
}

#page14 {
  position: relative;
  height: 60vh;
  width: 100vw;
  background-color: #000;
}
.page14-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 5vw;
  font-family: Arial, Helvetica, sans-serif;
  height: 33.3%;
  width: 100%;
  color: #fff;
  border-top: 0.5px solid #ffffff5c;
  border-bottom: 0.5px solid #ffffff48;
}
.page14-inner > i {
  font-weight: 100;
  font-size: 2.4vw;
  position: relative;
  z-index: 9999;
}
.page14-inner > h1 {
  font-size: 3vw;
  font-weight: 100;
  position: relative;
  z-index: 9999;
}

.center14 {
  height: 0%;
  width: 100%;
  background-color: #0a3cce;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.5s;
}

.page14-inner:hover .center14 {
  height: 100%;
}
/* <------Responsive-------> */

@media (max-width: 768px) {
  #page1 > nav > img {
    width: 50%;
    margin-left: -90px;
    margin-top: -50px;
  }
  #page1 h1 {
    font-size: 6vw;
    font-weight: 600;
  }
  .bottom-page1-inner {
    margin-bottom: 140px;
    width: 350px;
    display: table-column;
  }
  .bottom-page1-inner > h4 {
    font-size: 5vw;
    font-weight: 500;
    color: #fff;
    margin-top: 30px;
    padding-bottom: 20px;
    letter-spacing: 1.3px;
  }
  #page2 h1 {
    font-size: 5vw;
  }
  #page4 h1 {
    font-size: 5vw;
  }
  #page6 h1 {
    font-size: 5vw;
  }
  #page8 h1 {
    font-size: 5vw;
  }
  .left9 {
    width: 30%;
  }
  .right9 {
    width: 70%;
  }
  .right9-center {
    width: 90%;
  }
  .right10 {
    width: 80%;
    left: 10%;
    right: 10%;
  }
  .right10-inner > h1 {
    font-size: 4vw;
  }
  .right10-inner > p {
    font-size: 2.5vw;
    width: 90%;
  }
  .right11 {
    padding-top: 2vw;
  }
  .page11-inner {
    top: 15%;
  }
  .right11 > h1 {
    font-size: 3.5vw;
    line-height: 1.3;
  }
  #page12 {
    height: 40vh;
  }
  #page12 h1 {
    font-size: 6vw;
  }
  #page12 p {
    font-size: 3vw;
  }
  #page13 {
    height: 30vh;
  }
  #page13 h1 {
    font-size: 6vw;
  }
  #page14 {
    height: 40vh;
  }
  .page14-inner i,
  .page14-inner h1 {
    font-size: 6vw;
  }
}
