* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
  background-color: #1137ca;
}
#page1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#page1 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page1 > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  position: absolute;
  height: 10vh;
  width: 100vw;
}
#page1 > nav > img {
  margin-top: -1.7vw;
  width: 9%;
}
#right-nav > button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #0b48ed;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.bottom-page1 {
  position: absolute;
  bottom: 5%;
  height: 35vh;
  width: 50vw;
  left: 10%;
}
.bottom-page1 > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}
.bottom-page1-inner {
  position: absolute;
  bottom: 0%;
  height: 35%;
  width: 100%;
}
.bottom-page1-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-page1-inner > button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  color: #0b48ed;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.bottom-page1-inner > h4 {
  font-size: 1.4vw;
  font-weight: 100;
  color: #fff;
}
#page2 {
  display: flex;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0vw 8vw;
  color: #fff;
  background-color: #0a3cce;
}
#page2 > h2 {
  margin-bottom: 3vw;
  font-weight: 100;
}
#page2 > h1 {
  font-weight: 100;
  line-height: 1.3;
  width: 90%;
  font-size: 4vw;
  color: #dadada69;
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page3 > canvas {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page4 {
  display: flex;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0vw 10vw;
  color: #fff;
  background-color: #0a3cce;
}
#page4 > h3{
 margin-left: 15vw;
    margin-bottom: 2vw;
    font-weight: 100;
}
#page4{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #1137ca;
    font-family: Arial, Helvetica, sans-serif;
}
#page4>h3{
    margin-left: 5vw;
    margin-bottom: 2vw;
    font-weight: 100;
    color: #fff;
}
#page4>h1{
    line-height: 1.2;
    margin-left: 5vw;
    width: 90%;
    font-size: 3vw;
    font-weight: 100;
    color: #ffffff81;
}
#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page5>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}
#page6{
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
#page6>h3{
    margin-left: 15vw;
    font-weight: 100;
    color: #fff;
    margin-bottom: 2vw;
}
#page6>h1{
    line-height: 1.4;
    margin-left: 15vw;
    font-size: 3vw;
    width: 70%;
    font-weight: 100;
    color: #ffffff53;
}
#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}
.page7-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 1px solid #fff;
}
.page7-cir-inner{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .page8-bottom>h1{
    color: #fff;
    font-weight: 100;
    margin-bottom: 2vw;
    font-size: 5vw;
}
.page8-bottom>button{
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #0a3cce;
    font-size: 15px;
    font-weight: 600;
}
#page9{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.left9{
    height: 100%;
    width: 40%;
    position: relative;
    font-family: a;
}
.left9>h1{
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
    line-height: 1;
}
.right9{
    height: 100%;
    width: 60%;
    position: relative;
}
.right9-center{
    height: 50%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 5%;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}
.right10-inner{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    font-family: a;
    color: #fff;
}
.right10-inner>h1{
    font-size: 2vw;
}
.right10-inner>p{
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}